node_modules
build
coverage
*.env
logs/

# OS
.DS_Store
files
admin.macaroon
tls.cert

.elasticbeanstalk/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
